@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Josefin+Sans:wght@300;500&family=Lato:wght@300;400&family=Ledger&family=Mulish:wght@400;700;900&family=Poppins:wght@100;300&display=swap');

/*
font-family: 'Inter', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Ledger', serif;
font-family: 'Mulish', sans-serif;
font-family: 'Poppins', sans-serif;
*/
:root {
    --orangeBackground: rgba(245, 140, 17, 1);
    --titles: rgba(21, 49, 63, 1);
    --details: rgba(226, 159, 91, 1);
    --exito: rgba(161, 73, 203, 1);
}
 
 
 .contain-exposures {
   width: 100%;
   height: 100%;
   position: relative;

 }



 .filters{
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
  padding: 30px;
 }

 .exposuresTest{
  display: flex;
  flex-direction: column;
  gap: 20px;
 }

 .eventsCards {
   width: 100%;
   height: 400px;
   
 }
 
 article {
  width: 100%;
  height: 400px;
  display: grid;
  grid-template-columns: 40% 40% 20%;
  grid-template-rows: auto;
  box-shadow: 1px 7px 17px 2px rgba(194,184,170,0.75);
  -webkit-box-shadow: 1px 7px 17px 2px rgba(194,184,170,0.75);
  -moz-box-shadow: 1px 7px 17px 2px rgba(194,184,170,0.75);
  padding: 20px;
  gap: 15px;
}
 .tittleAP{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 10px;
 }

p{
 font-size: 1.1em;
 font-weight: 400;
 font-family: 'Poppins', sans-serif;
 
}
.tittleAP h1{
  font-size: 2em;
  text-align: start;
  color:var(--titles);

}


.imgEvent{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  
}

.date{
  font-size: 1.2em;
  text-align: end;
  align-self: center;
  justify-self: center;
}
.date h4{
  font-size: 1em;
  color: orange;
}
#semana:checked ~ #forFilters .semana{
  background-color: green;
}

.toggle{
  display: none;
}

.allClass{
  width: 100%;
  height: 400px;
  display: grid;
  grid-template-columns: 40% 40% 20%;
  grid-template-rows: auto;
  box-shadow: 1px 7px 17px 2px rgba(194,184,170,0.75);
  -webkit-box-shadow: 1px 7px 17px 2px rgba(194,184,170,0.75);
  -moz-box-shadow: 1px 7px 17px 2px rgba(194,184,170,0.75);
  padding: 20px;
  gap: 15px;
}

