/* <svg fill="#fff" width="140" height="64" viewBox="0 0 140 64" xmlns="http://www.w3.org/2000/svg"> */

main{
    width: 100%;
    height: 700px;
}

.containRegister{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
.toRegister{
width: 90%;
height:600px;
display: grid;
grid-template-columns: 50% 50%;
grid-template-rows: 80% 20%;
grid-row: 100%;
border: 2px solid black;

}
.imgEvent{
    width: 100%;
    height:600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 1/2;
  
}
.tittleAP{
    grid-column: 2/2;
    gap: 10px;
    border: 2px solid red;
    width: 100%;
    height: 100%;
    padding: 30px;
} 

.tittleAP p{
    font-size: 1.5em;
}
h3{
    grid-column: 2/2;
    gap: 10px;
    border: 2px solid red;
    
}
.btn_open{
    background-color: orange;
    width: 10%;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.3em;

}
.btn_open:hover{
    color: beige;
}

.formOpen{
    width: 40%;
    height: 600px;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 100px;
}
.formOpen::backdrop{
    background: rgba(151, 76, 26, 0.562);
}

.form_styles{
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: 50% 50%;

}

